# Dependencies
node_modules/

# Build
dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Go
/gpx_slurm_app*

# Test
coverage/

# Grafana
provisioning/dashboards/

# Lint
.eslintcache

# NPM
.npm/
npm-debug.log*

# Generated dev data
dev/metrics-backfill.om
dev/metrics-current.om
dev/prometheus-data/
